= `Olá,`

= `Obrigado por se cadastrar no ${appName}! Para ativar sua conta, acesse:`

= verificationUrl

= `Se você não se cadastrou no ${appName}, ignore este email.`

= `Atenciosamente,`
= `Equipe ${appName}`

= `© ${year} ${appName}. Todos os direitos reservados.`